In [6]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import google_drive

ModuleNotFoundError: No module named 'googleapiclient'

### Todo:

- Standardize methods to clean data including checking for normalizing names. This should be done before starting any analysis and also before setting up the data fram we'll work with 
- Get graph output for individual exercises by name - will need a function to do this
- Get graph output of muscle groups - will also need function for this
- Add date range functionality to graphing functions

### Goal graph outputs
- Line graph x = time y = lift weight
- Do I want tabular output?
- Total volume in kg lifted is an interesting stat or total reps
- Do I want estimated one rep max?
- Track estiamted 1rm? 

Estimated 1rm
Max wt
Workout volume
Total reps
max reps
weight and reps

max distance
max time
max speed
max pace
total distance
total time

Stats for time period
- total workouts
- total sets
- total raeps
- total volume
- max wt/volume
- max reps
- estimated 1rm

Workouts by day of the week in box plots or bar graph

- could consider adding workout time started and ended

### Ideal data formating for analysis

## Naming conventions
Chest
- 

Tricep

Back

Bicep

Shoulders

Legs

Other

In [3]:
df = pd.read_excel(google_drive.get_file(), index_col='Date', usecols=2)

NameError: name 'google_drive' is not defined

In [85]:
df.tail()

,Exercise,Sets
Date,,
NaT,Tricep push down,"20*25,15*35,15*35,8*45"
2019-03-12,Lat pulldown,"12*87.5,8*100,8*112.5,8*125,5*125,8*87.5,5*125..."
NaT,Cable row,"8*100,8*112.5,8*125,5*125"
NaT,Barbell curl,"12*60,8*70,6*75,6*75,6*60,6*40"
2019-03-12,NaN,NaN

In [ ]:
def check_data(raw_df):
    #Assures that only names from naming conventions exist
    #Assures that 'Sets' is in the format %d*%d,

In [37]:
df.head(3)

        Date          Exercise                              Sets
0 2019-02-03                BP  12*70,8*90,8*90,8*90,6*100,6*100
1        NaT  DB INCLINE PRESS              12*70,8*90,8*90,8*90
2        NaT    CABLE PULLOVER        14*30,8*42.5,8*42.5,8*42.5

In [34]:
df.Exercise = df.Exercise.str.upper()

In [ ]:
to_fix = {'CABLE PULLOVER' : ['CABLE PULLOVERS'], }

In [40]:

grouped = df.groupby(df.Exercise)
#grouped.groups
grouped.agg(np.size)

                                  Date  Sets
Exercise
BARBELL CURL                         2     2
BP                                   9     9
CABLE CURL                           4     4
CABLE PULLOVER                       6     6
CABLE PULLOVERS                      1     1
CABLE PUSH DOWN                      4     4
CABLE ROW                            8     8
CABLE SIDE RAISE                     1     1
CLOSE GRIP BP                        2     2
DB CURL                              5     5
DB INCLINE PRESS                     2     2
DB SHOULDER PRESS                    1     1
DEADLIFT                             2     2
DUMBBELL LAT PULL                    1     1
INCLINE BARBELL BP                   1     1
INCLINE BP                           1     1
INCLINE DB PRESS                     4     4
LAT PULL DOWN                        5     5
LAT PULL DOWN                        1     1
LAT PULLDOWN                         2     2
LEG CURL                             1     1
LEG EXT                              1     1
LEG EXTENSION                        1     1
LYING BAR TRICEP RAISE               1     1
LYING BARBELL TRICEP EXTENSION       1     1
MACHINE FLY                          1     1
SMITH BEND ROW                       1     1
SMITH BENT ROW                       1     1
SMITH DL                             2     2
SMITH SEATED PRESS                   2     2
SMITH SQUAT                          2     2
SQUAT                                2     2
STANDING BARBELL OVERHEAD PRESS      2     2
STANDING DUMBBELL SHOULDER PRESS     1     1

In [7]:
df = pd.read_excel('../data/workout.xlsx')
df = df[['Date','Exercise','Sets']]

In [9]:
class Workout(object):
    
    def __init__(self):
        self.exercises = []
        
    def add_exercise(self,e):
        self.exercises.append(e)
    
    
    def __iter__(self):
        return self.exercises

class Exercise(object):
    
    def __init__(self,rec, name):
        self.name = name.upper()
        self.rec = rec
        self.d = [(int(s.split('*')[0]) , int(s.split('*')[1])) for s in self.rec.split(',')]
        
    def max_weight(self):
        wt = [x[1] for x in self.d]
        return max(wt)
    def __repr__(self):
        return str(self.d)
    def __str__(self):
        return str(self.d)
    def __iter__(self):
        return self.d
    
    
BP = Exercise('12*70,8*90,8*90,8*90,6*100,6*100', "Bench Press")
print(BP)

[(12, 70), (8, 90), (8, 90), (8, 90), (6, 100), (6, 100)]

In [11]:
def plot_exercise(name):
    #displays time vs max weight on a the lift 'name'
    pass
def plot_muscle_group(name):
    #plots time vs muscle group in [chest, tricep, back, bicep, shoulders, legs]
    pass